In [1]:
import pandas as pd
from faker import Faker
import random

fake = Faker()

def create_sales_transactions(num_transactions):
    sales_data = []
    for _ in range(num_transactions):
        transaction = {
            'transaction_id': fake.uuid4(),
            'gender': random.choice(['Male', 'Female', 'Unspecified']),
            'product_name': fake.word(ext_word_list=['Milk','Eggs','Bread','Cheese','Chicken Breast','Ground Beef','Salmon','Pasta','Rice','Cereal',
'Apples', 'Bananas', 'Grapes', 'Potatoes','Onions','Carrots','Tomatoes','Lettuce','Rice Bowls','Yogurt','Butter','Olive Oil','Coffee','Sugar','Canned Tomatoes']),
            'quantity': random.randint(1, 5),
            'unit_price': round(random.uniform(50, 2000), 2),
            'transaction_date': fake.date_between(start_date='-30d', end_date='today'),
            'payment_method': random.choice(['Credit Card', 'Debit Card', 'Cash', 'Online Payment'])
        }
        sales_data.append(transaction)
    return pd.DataFrame(sales_data)

num_transactions = 400
sales_df = create_sales_transactions(num_transactions)
#print(sales_df.head())

In [2]:
sales_df

,transaction_id,gender,product_name,quantity,unit_price,transaction_date,payment_method
0,78145131-8740-472f-97c2-f3cfd810c19f,Male,Salmon,2,1723.31,2025-02-17,Cash
1,c84dbe07-f366-4bcf-9830-bd3e49ca28ed,Female,Ground Beef,1,516.72,2025-03-01,Credit Card
2,cf1bcc4f-b565-4d86-82b9-72f30c10e08d,Male,Onions,2,114.56,2025-02-03,Cash
3,8473e828-12ad-4241-af5a-eda5c1030602,Male,Apples,4,1235.36,2025-02-02,Debit Card
4,70385421-4f5f-4ba9-b54b-b8cf7586a707,Unspecified,Eggs,3,840.68,2025-02-22,Online Payment
...,...,...,...,...,...,...,...
395,c99f64f9-2f4e-4569-8fe0-056fcdf93468,Male,Rice Bowls,4,1577.17,2025-02-06,Online Payment
396,57ea53c9-8a94-44f5-9706-602e44e00d97,Male,Canned Tomatoes,5,1966.02,2025-02-11,Cash
397,3e82dc5b-9385-4642-926e-379fbb7214cf,Male,Sugar,4,1960.51,2025-02-06,Debit Card
398,efa336d8-7665-40c1-8ec5-c6e0bf70d6a7,Female,Rice,4,653.70,2025-02-08,Debit Card
399,b35380f4-5576-4f8e-b3d7-3a994f8080e3,Male,Potatoes,1,781.60,2025-02-04,Cash